*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:#F6F8F9;
}

.page-header{
  background-color: #FFFF;
}

.logo{
  width: 200px;
  padding: 11px 4px 6px 11px;
}

.card{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.card1{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.content{
  padding: 60px 0;
}

.container{
  max-width: 800px;
  margin: 0 auto;
}

.button-img{
  background-color: #17A9F5;
}

.solid{
  border: 1px solid #bbb;
margin:10px 0 ;
}
.newtask{
  padding: 18px 0;
}

.today{
  padding: 18px 0;

}

.upcomming{
  padding: 18px 0;

}
.newtask-item{
  list-style: none;
  padding: 10px 0;
}

.header{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 5px;
}

.correct-icon{
display: inline-block;
width: 30px;
height: 30px;
/* background-color: green; */
color: green;
border-radius: 50%;
line-height: 31px;
vertical-align: middle;
margin-right: 10px;
text-align: center;
border: 1px solid green;
}

.wrong-icon{
  display: inline-block;
  width: 30px;
  height: 30px;
  /* background-color: green; */
  color: red;
  border-radius: 50%;
  line-height: 27px;
  vertical-align: middle;
  margin-right: 10px;
  text-align: center;
  border: 1px solid red;
  }

.editer{
margin-left: 10px;
background-color: #17A9F5;
padding: 5px;
color: white;
font-size: 10px;
border-radius: 57px;
}

.editer-purple{
  margin-left: 10px;
background-color: purple;
padding: 5px;
color: white;
font-size: 10px;
border-radius: 57px;
}

.editer-green{
  margin-left: 10px;
background-color: green;
padding: 5px;
color: white;
font-size: 10px;
border-radius: 57px;
}

.editer-orange{
  margin-left: 10px;
background-color: orange;
padding: 5px;
color: white;
font-size: 10px;
border-radius: 57px;
}

.editer-pink{
  margin-left: 10px;
  background-color: pink;
  padding: 5px;
  color: white;
  font-size: 10px;
  border-radius: 57px;
}

.editer-light-green{
  margin-left: 10px;
  background-color: lightgreen;
  padding: 5px;
  color: white;
  font-size: 10px;
  border-radius: 57px;
}

